body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

li a:hover{
        background-color: grey;
        color:black;
}
section {
    padding: 40px;
}
.navbar{
        float:center;
        overflow:hidden;
        background-color:#333;
        
    }

    .navbar a {
        float:center;
        font-size: 20px;
        color:white;
        text-align: center;
        padding:20px 24px;
        text-decoration: none;
    }
.destination {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #fff;
}
.dropdown.mybutton{
        font-size: 20px;
        border:none;
        outline:none;
        color:white;
        padding:20px 24px;
        background-color:inherit;
        font-family: inherit;
        margin:0;
    }
    .dropdown-content{
        display: none;
        position: absolute;
        background-color: grey;
        width:200px;
    }
    
     .dropdown:hover .dropdown-content{
        display:block;
     }


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
